# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
myenv/

# Git repository files
.git
.gitignore

# Docker configuration files
.dockerignore
Dockerfile

# Environment variables file
.env

# IDE settings
.vscode/
.idea/

# macOS specific files
.DS_Store
